/*------FOOTER---------*/
.text-center {
	text-align: center;
}
/*.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-fw {
	width: 1.28571429em;
	text-align: center;
}*/
.btn-social {
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}
.btn-outline {
	color: #fff;
	font-size: 20px;
	border: 2px solid #fff;
	background: 0 0;
	transition: all .3s ease-in-out;
	margin-top: 15px;
}
.btn-social, .scroll-top, .scroll-top .btn {
	width: 50px;
	height: 50px;
}
a:active, a:focus, a:hover {
	color: #18BC9C;
	outline: 0;
}
.btn-outline:hover {
	color: #18BC9C;
	background: #fff;
	border: 2px solid #fff;
}
.quicklinks{
	font-color: #fff;
}


footer {
	color: #fff;
}
footer .footer-above {
	padding-top: 50px;
	background-color: #2C3E50;
}
footer .footer-below {
	padding: 25px 0;
	background-color: #233140;
}

/* Footer */
            .search-head {
                display: block;
                float: left;
                height: 40px;
                padding: 0;
                margin: 0 auto;
                vertical-align: bottom;
                width: 597px;
            }
            .search-head-part-left {
                width: 200px;
                display: block;
            }
            .search-label {
                float: left;
                padding-left: 7px;
                padding-right: 1px;
                margin-top: -0.5px;
                line-height: 40px!important;
            }
            #locationHead, #searchHead, .search-label {
                background: none repeat scroll 0 0 rgba(0,0,0,0);
                border: 0 none;
                font-family: inherit;
                font-size: 13px;
                line-height: 40px;
                height: 40px;
                padding: 0 0 0 4px;
                text-align: left;
                vertical-align: bottom;
            }
            .lfloat {
                float: left;
            }
            #badge-wrapper {
                /* border: 1px solid #dbdbdb; */
                -webkit-box-shadow: 0 1px 1px #dbdbdb;
                -moz-box-shadow: 0 1px 1px #dbdbdb;
                /* box-shadow: 0 1px 1px #dbdbdb; */
                /* box-sizing: border-box; */
                padding: 20px;
                text-align: center;
            }
            #logo-img {
                height: auto;
                width: 240px;
            }
