@media(min-width:768px){
    .left-fixed-container{
        top:0;
        left:50px;
        position: fixed;
        z-index: 1000;
        box-shadow: 0 1px 3px 0;

    }
}
@media(min-width:992px){
    .left-fixed-container{
        top:0;
        left:220px;
        position: fixed;
        z-index: 1000;
        box-shadow: 0 1px 3px 0;

    }
}
@media(min-width:1200px){
    .left-fixed-container{
        top:0;
        left:400px;
        position: fixed;
        z-index: 1000;
        box-shadow: 0 1px 3px 0;

    }
}
.right-fixed-container{
    top:130px;
    right:0;    
    min-width:100px;
    position: absolute;
    z-index: 11;
    box-shadow: 0 1px 3px 0;

}
.m-menu>.item>.label{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.map-container{
    /*    margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;*/
    height:660px;
    width: 100%;
    box-shadow: 0 1px 3px 0;
    z-index:10;
}
body{
    background: #ffffff;
}
.ui.menu .item > .label.less-margin {
    margin-left: 0em !important;
}