.note-wrapper{
    overflow:hidden;
}
.note{
    padding:32px;
    padding-top:33px;
    padding-bottom:27px;
    margin-bottom:20px;
    margin-top:25px;
    border:1px solid #efef29;
    background:#ffffdc;
    position:relative;
}
.note i{
    line-height:1.2em;
    font-size:24px;
    color:white!important;
    position:relative;left:1.5px;
}
.note-heading{
    padding:10px;
    background:#efef29;
    position:absolute;
    top:-25px;
    left:10px;
    border-radius:25px;
    width:50px;
    height:50px;
    box-shadow:0 2px 3px -1px rgba(0,0,0,0.1);
    font-family:'Oswald',Arial,sans-serif;
    text-transform:uppercase;
    text-align:center;
}
.note-warning{
    border-color:#f79d97;
    background-color:#feedec;
}
.note-warning i{
    position:relative;left:1.5px;
}
.note-warning .note-heading{
    background-color:#f04338;
}

.note-note{
    border-color:#fedb75;
    background-color:#fff3d0;
}
.note-note .note-heading{
    background-color:#fdc110;
}

.note-tip{
    border-color:#96bfe2;
    background-color:#deebf6;
}
.note-tip .note-heading{
    background-color:#468fcc;
}
.note-important{
    border-color:#fbc57f;
    background-color:#feedd8;
}
.note-important .note-heading{
    background-color:#f8981c;
}
.note-important i{
    position:relative;left:1.5px;
}
.note-help{
    border-color:#ec6c9b;
    background-color:#f7bdd2;
}
.note-help .note-heading{
    background-color:#d71b60;
}
.note h2:nth-child(2n),.note h3:nth-child(2n),.note h4:nth-child(2n),.note h5:nth-child(2n),.note h6:nth-child(2n),.note ul{margin-top:0px;}.note p:last-child,.note ul:last-child{
    margin-bottom:0px;
}
.note ul:nth-child(2n){
    padding-left:16px;
}