@font-face {
    font-family: 'icomoon';
    src:url('icomoon.eot');
    src:url('icomoon.eot?#iefix') format('embedded-opentype'),
        url('icomoon.woff') format('woff'),
        url('icomoon.ttf') format('truetype'),
        url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ui.left.sidebar {
    top:128px !important;
}
.ui.menu .item {
    padding: 1.52857143em 1.14285714em !important;
}

.right.menu>.ui.segment {
    box-shadow: none !important;
    border-left:1px solid rgba(34, 36, 38, 0.15) !important;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0px !important;
    margin:0px !important;
    color:#00719b !important;
}

.ui.input {
    width:100%!important;   
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
    border-radius: 0px!important;
}

.ui.menu .item > img:only-child {
    display: block;
    max-width: 100%;
    margin: 0em auto;
}
.top.dropdown{
    top:0px !important;
    right:0px !important;
}
@media (min-width: 450px) {
    .login-container{
        background-color: #fff;
        width:400px;
        height:auto;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(1, 1, 1, 0.6);
        margin-left:auto;
        margin-right:auto;
        margin-top: 150px;
    }

    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.waste-blue{    
    background: #00719b!important;
    color:#fff!important;
}
.waste-color{
    cursor: pointer;
    color:#00719b;
    font-size: 24px;
    font-style: italic;
    vertical-align: middle;
}
.container{
    width:100%;
    min-width:650px;
    /*background:#efa71a!important;*/

}
.waste-container{
    width:100%;   
    margin-top: 150px;
}
.wrapper{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:667px){
    .waste-container{ 
        width:610px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper{
        width: 510px;
    }
}
@media(min-width:991px){
    .waste-container{ 
        width:800px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper{
        width: 750px;
    }
}
@media(min-width:1200px){
    .waste-container{ 
        width:1170px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper{
        width: 970px;
    }
}
.waste-container>.ui.breadcrumb{
    line-height: 3 !important;
    margin:0;
}
.error{
    color:red!important;
    padding-top: 10px;
}
.margin-top{
    margin-top: 15px !important;
    line-height: 3 !important;
}

.padding-bottom{
    padding-bottom:15px;
}
tr.yellow{
    background: #f8fafb;
    font-weight: bold;
}
.ui.default.label{
    background: #f9fafb;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.top{
    position: absolute;
    top:10px;
    right: 10px;
}
.change.password{
    margin-top: 150px;
}
.ui.blue.header {
    padding: 10px 0px;
}

.fixed-container{
    background: #fff;
    position: fixed;
    top:0;
    left:0;
    right:auto;
    z-index: 101;
    width:100%;
    min-height:100px;
}

.product{
    width:100%;
}

.product-container{
    width:100%;
    min-height: 50px;
    margin-top: 15px;
    box-shadow: 0 2px 2px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    /*box-shadow: 0 0 0 1px #d4d4d5,0 2px 0 0 #21ba45,0 1px 3px 0 #d4d4d5;*/
}
.product-content{
    padding: 10px 15px;
}
.product-content>.checkbox{
    float:right;
    margin-top: 10px;
}
.category{
    padding-left: 15px;
    font-size: 18px;
    font-weight:bold;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

i.icon-glasses:before{    
    content: "\e707";
}
i.icon-metal:before{    
    content: "\e708";
}
i.icon-paper:before{    
    content: "\e709";
}

i.icon-plastic:before{    
    content: "\e70a";
}
.active-last{
    cursor: auto;
    background: #f3f4f5 !important;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

